---
const { avatar, name } = Astro.props
---

<section
	class="flex h-40 flex-col items-center justify-center gap-4 rounded-[4px] bg-[#202A3C] p-6 text-white"
>
	<p class="font-open-sans w-60 self-center text-[10px] leading-5">
		Fylo has improved our team productivity by an order of magnitude. Since making the switch our
		team has become a well-oiled collaboration machine.
	</p>
	<div class="flex flex-row items-center gap-2 self-start">
		<img src={avatar} alt="avatar" class="h-6 w-6 rounded-full" />
		<div class="flex flex-col">
			<h3 class="text-[10px] font-bold">{name}</h3>
			<p class="text-[8px]">Founder & CEO, Huddle</p>
		</div>
	</div>
</section>
