<section
	class="flex w-[336px] flex-col items-center justify-center gap-8 rounded-lg bg-[#1B2330] text-white"
>
	<div class="flex flex-col items-center gap-4 text-center">
		<h1 class="font-raleway text-lg font-bold leading-6">Get early access today</h1>
		<p class="font-open-sans text-sm leading-5">
			It only takes a minute to sign up and our free starter tier is extremely generous. If you have
			any questions, our support team would be happy to help you.
		</p>
	</div>
	<div class="flex flex-col items-center justify-center gap-6">
		<input
			type="email"
			placeholder="email@example.com"
			class="h-12 w-72 rounded-3xl font-open-sans placeholder:pl-6"
		/>

		<button
			class="h-12 w-72 items-center rounded-3xl text-center font-open-sans"
			style={{
				background: 'linear-gradient(90deg, #3ABAB4 0%, #7F9CF5 100%)',
				dropshadow: '2px 3px 6px rgba(0, 0, 0, 0.16)'
			}}>Get Started For Free</button
		>
	</div>
</section>
