---
import logo from '../images/logo.svg'
---

<nav class="flex w-full flex-row items-center justify-between px-5 py-6">
	<img src={logo} alt="logo" />
	<div class="font-raleway flex flex-row gap-6 text-xs font-normal text-white">
		<h1>Features</h1>
		<h1>Team</h1>
		<h1>Sign In</h1>
	</div>
</nav>
