---
import logo from "../images/logo.svg";
---

<nav class="flex flex-row w-full items-center justify-between">
  <img src={logo} alt="logo" />
  <div class="flex flex-row gap-2 text-white">
    <h1>Features</h1>
    <h1>Team</h1>
    <h1>Sign In</h1>
  </div>
</nav>
