---
import productive from '../images/productive.png'
---

<section class="flex max-w-xs flex-col items-center gap-12 text-start text-white">
	<img src={productive} alt="Productive" class="px-2" />
	<section class="flex flex-col gap-4">
		<h1 class="text-lg font-bold leading-5">Stay productive, wherever you are</h1>
		<p class="text-sm leading-5">
			Never let location be an issue when accessing your files. Fylo has you covered for all of your
			file storage needs.
		</p>
		<p class="text-sm leading-5">
			Securely share files and folders with friends, family and colleagues for live collaboration.
			No email attachments required.
		</p>
		<a class="text-xs text-[#62E0D9] underline underline-offset-8">See how Flyo works</a>
	</section>
</section>
